.stock {
    margin-bottom: 120px;
    h2 {
        font-family: $font-title;
        font-size: 48px;
        font-weight: 400;
        color: $color-red;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        i.br {
            @media (max-width: 768px) {
                display: block;
            }
        }
        @media (max-width: 768px) {
            font-size: 26px;
        }
    }
    .subtitle {
        font-size: 21px;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 768px) {
            text-align: center;
            font-size: 16px;
        }
    }
    ul.stock__list {
        display: flex;
        justify-content: space-between;
        li.item {
            width: calc(100% / 3 - 100px);
            span {
                font-family: $font-title;
                display: block;
                font-size: 60px;
                color: $color-red;
                position: relative;
                margin-bottom: 20px;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    font-size: 35px;
                }
            }
            p {
                font-size: 18px;
                @media (max-width: 768px) {
                    font-size: 16px;
                    text-align: center;
                }
            }
            &:first-child {
                span {
                    i {
                        position: absolute;
                        width: 244px;
                        height: 95px;
                        background-image: url("../images/svg/outline.svg");
                        top: -8px;
                        left: -10px;
                        background-repeat: no-repeat;
                        @media (max-width: 768px) {
                            width: 150px;
                            height: 60px;
                        }
                    }
                }
                p {
                    width: 160px;
                }
            }
            &:nth-child(2) {
                p {
                    width: 240px;
                }
                span {
                    i {
                        position: absolute;
                        width: 224px;
                        height: 20px;
                        background-image: url("../images/svg/underline.svg");
                        background-repeat: no-repeat;
                        bottom: -8px;
                        left: 0;
                        @media (max-width: 768px) {
                            width: 150px;
                            height: 15px;
                        }
                    }
                }
            }
            &:nth-child(3) {
                p {
                    width: 245px;
                }
                span {
                    i {
                        position: absolute;
                        width: 244px;
                        height: 95px;
                        background-image: url("../images/svg/outline2.svg");
                        top: -8px;
                        left: -30px;
                        background-repeat: no-repeat;
                        @media (max-width: 768px) {
                            width: 150px;
                            height: 60px;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 90px;
    }
}
