*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}

html {
	box-sizing: border-box;
}

main {
	background-image: url("../images/svg/lamp.svg");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 800px auto;
	@media (max-width: 768px) {
		background-image: none;
	}
}

body {
	font-family: $font-base;
	color: $color-text;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	overflow-x: hidden;
}

.container {
	position: relative;
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
	line-height: 1.4;
}

ul,
ol,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

h2.main-title {
	font-family: $font-title;
	font-size: 48px;
	color: $color-red;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.2;
	@media (max-width: 768px) {
		font-size: 26px;
		text-align: center;
		line-height: 1.5;
	}
}
